/*Ik zag in het voorbeeld geen punt voor de lijst elementen, heb ze daarom weggehaald*/

ul {
    list-style: none;
}

/*Opdracht 1a*/

.navbar-one ul {
    display: flex;
    justify-content: space-between;
}

/*Opdracht 1b*/

.navbar-two ul {
    display: flex;
    justify-content: flex-end;
}

/*Opdracht 1c*/

.navbar-three {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-three div {
    display: flex;
    align-items: center;
    width: 178px;
    justify-content: space-between;
}

.navbar-three ul {
    display: flex;
}

/*Opdracht 1d*/

.navbar-four {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-four div {
    display: flex;
    align-items: center;
    width: 178px;
    justify-content: space-between;
}

.navbar-four ul {
    display: flex;
    width: 750px;
}

.navbar-four ul:last-child {
    display: flex;
    justify-content: space-between;
    width: 178px;
    align-items: center;
}

/*Opdracht 1e*/

.navbar-five {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-five div {
    display: flex;
    align-items: center;
    width: 178px;
    justify-content: space-between;
}

.navbar-five ul {
    display: flex;
}

.navbar-five ul:last-child {
    display: flex;
    justify-content: space-between;
    width: 178px;
    align-items: center;
}
